﻿@page "/creatPost/{typePost}"



<MudGrid Class="mt-5 mb-10">
    <MudItem xs="12">
        <MudTextField @bind-Value="postModel.Nome" Label="Título" Variant="Variant.Text"></MudTextField>
    </MudItem>
</MudGrid>

@code {
    Post postModel = new();
    [Parameter] public string? typePost { get; set; }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
