﻿@page "/initial"
<h3>Escolha um tipo de post</h3>
<MudGrid Class="mt-5 mb-10">
    <MudItem xs="3">
      <CardLinkMenu firstLetter="N"  titleLinsk="Notícias" link="/listPost/noticia"/>
    </MudItem>
     <MudItem xs="3">
      <CardLinkMenu firstLetter="A" titleLinsk="Artigos" link="/listlPost/artigo"/>
    </MudItem>
     <MudItem xs="3">
      <CardLinkMenu firstLetter="E" titleLinsk="Criar um evento" link="/listPost/evento"/>
    </MudItem>
     <MudItem xs="3">
      <CardLinkMenu firstLetter="P" titleLinsk="Postar podcast" link="/listPost/podcast"/>
    </MudItem>    
</MudGrid>

<h3>Escolha um tipo de relatório Abrainc lab</h3>
<MudGrid Class="mt-5 mb-10">
    <MudItem xs="4">
      <CardLinkMenu firstLetter="I"  titleLinsk="Criar um indicador" link="/InitialMarketData/indicador"/>
    </MudItem>
     <MudItem xs="4">
      <CardLinkMenu firstLetter="D" titleLinsk="Dados do mercado" link="/InitialMarketData/dadosMercado"/>
    </MudItem>
     <MudItem xs="4">
      <CardLinkMenu firstLetter="R" titleLinsk="Relatórios Power BI " link="/InitialMarketData/bi"/>
    </MudItem>
     
</MudGrid>
@code
{
    [Inject] private IDialogService DialogService { get; set; }

    string state = "Message box hasn't been opened yet";
    string TextValue;

    private async void OnButtonClicked()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Deleting can not be undone!",
            yesText: "Delete!", cancelText: "Cancel");
        state = result == null ? "Cancelled" : "Deleted!";
        StateHasChanged();
    }
}