﻿@page "/listPost/{typePost}"
@using System.Net.Http.Json
@using Abrainc.Dominio.Model.Posts
@using Abrainc.Repositorio.Posts
@inject IPostRepository Ipost



<h3>Administração de posts</h3>
<MudGrid Class="mt-5 mb-10">
    <MudItem xs="4">
        <CardLinkMenu firstLetter="C" titleLinsk="@nameTitle"  link="@linkPost" />
    </MudItem>
</MudGrid>


<MudTable Items="@Elements"  Hover="@hover" 
          Filter="new Func<Post,bool>(FilterFunc1)" RowsPerPage=5>
    <ToolBarContent>
        <MudText Typo="Typo.h6">Listagem de posts</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Buscar" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>id</MudTh>
        <MudTh>Nome</MudTh>
        <MudTh>Categoria</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id"><a href="../editpost/edit/@context.Id">@context.Id</a></MudTd>
        <MudTd DataLabel="Título"><a href="../editpost/edit/@context.Id">@context.Nome</a></MudTd>
        <MudTd DataLabel="Name"><a href="../editpost/edit/@context.Id">@context.NomeCategoria</a></MudTd>
        <MudTd DataLabel="Descrição curta"><a href="../editpost/edit/@context.Id">@context.DescricaoCurta</a></MudTd>
        <MudTd><a href="../editpost/edit/@context.Id"><MudIcon Icon="@Icons.Filled.EditNote"></MudIcon> Abrir</a> </MudTd>
    </RowTemplate>
    <PagerContent >
        <MudTablePager RowsPerPageString="Posts por página" InfoFormat="{first_item} - {last_item} de {all_items}"/>
           <MudTablePager RowsPerPageString="Posts por página" info/>
    </PagerContent>
</MudTable>


@code {

    private bool hover = true;   
    private string searchString1 = "";
    private string searchString2 = "";

    private HashSet<Post> selectedItems = new HashSet<Post>();

    private IEnumerable<Post> Elements = new List<Post>();

    protected override void OnInitialized()
    {
        Elements = Ipost.BuscaTodosPosts();
    }

    private bool FilterFunc1(Post element) => FilterFunc(element, searchString1);
    private bool FilterFunc2(Post element) => FilterFunc(element, searchString2);

    private bool FilterFunc(Post element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Nome.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Nome.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    [Parameter] public string typePost { get; set; }
    public string nameTitle { get; set; }
    public string linkPost { get; set; }
    
    protected override void OnParametersSet()
    {
        nameTitle = $"Criar {typePost}";
        linkPost = $"/creatPost/{typePost}";
        base.OnParametersSet();
    }
}
