﻿ @page "/Editor-quill"
 @using Blazored.TextEditor
 <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Files
</MudButton>

<BlazoredTextEditor @ref="@QuillHtml">
    <ToolbarContent>
        <select class="ql-header">
            <option selected=""></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
        </span>
    </ToolbarContent>
    <EditorContent>
        <h4>This Toolbar works with HTML</h4>
        <a href="http://BlazorHelpWebsite.com">
            BlazorHelpWebsite.com
        </a>
    </EditorContent>
</BlazoredTextEditor>
<br />
<button class="btn btn-primary"
        @onclick="GetHTML">
    Get HTML
</button>
<button class="btn btn-primary"
        @onclick="SetHTML">
    Set HTML
</button>
<br />
<div>
    <br />
    @((MarkupString)QuillHTMLContent)
    @QuillHTMLContent
</div>
<br />
<BlazoredTextEditor @ref="@QuillNative"
                    Placeholder="Enter non HTML format like centering...">
    <ToolbarContent>
        <span class="ql-formats">
            <select class="ql-font">
                <option selected=""></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected=""></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
        </span>
    </ToolbarContent>
</BlazoredTextEditor>
<br />
<button class="btn btn-primary"
        @onclick="GetContent">
    Get Content
</button>
<button class="btn btn-primary"
        @onclick="LoadContent">
    Load Content
</button>
<button class="btn btn-primary"
        @onclick="InsertImage">
    Insert Image
</button>
<button class="btn btn-primary"
        @onclick="InsertText">
    Insert Text
</button>
<br />
<br />
<div>
    @QuillContent
</div>
<br />
<br />
<BlazoredTextEditor @ref="@QuillReadOnly"
                    ReadOnly="true"
                    Theme="bubble"
                    DebugLevel="log">
    <ToolbarContent>
        <select class="ql-header">
            <option selected=""></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
        </span>
    </ToolbarContent>
    <EditorContent>
        @((MarkupString)@QuillReadOnlyContent)
    </EditorContent>
</BlazoredTextEditor>
<br />
<button class="btn btn-info"
        @onclick="ToggleQuillEditor">
    Toggle Editor
</button>

@code {
    BlazoredTextEditor QuillHtml;
    BlazoredTextEditor QuillNative;
    BlazoredTextEditor QuillReadOnly;

    string QuillHTMLContent;
    string QuillContent;
    string QuillReadOnlyContent = 
        @"<span><b>Read Only</b> <u>Content</u></span>";

    bool mode = false;

    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            
            files.Add(file);
        }
        //TODO upload the files to the server

        
         //const int MaxFileSize = 2 * 1024 * 1024;
         //   _arquivoBanner = files.FirstOrDefault();
         //   if (files != null)
         //   {
         //       var ms = new MemoryStream();
         //       await _arquivoBanner.Data.CopyToAsync(ms);
         //       using (var msResize = new MemoryStream(ms.ToArray()))
         //       {
         //           var image = System.Drawing.Image.FromStream(msResize);
         //           if (Path.GetExtension(_arquivoBanner.Name) != ".jpeg"
         //                   && Path.GetExtension(_arquivoBanner.Name) != ".jpg"
         //                   && Path.GetExtension(_arquivoBanner.Name) != ".png")
         //           {
         //               await jSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Ops, a imagem deve estar no formato JPEG, JPG ou PNG.", tipo = "error" });

         //           }
         //           //else if (_arquivoBanner.Size > MaxFileSize)
         //           //{
         //           //    await jSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Ops, a imagem deve ter menos de 500kb.", tipo = "error" });

         //           //}
         //           //else if (image.Width != 1480 || image.Height != 580)
         //           //{
         //           //    await jSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Ops, a imagem não está no formato padrão de 1980x720.", tipo = "error" });
         //           //}
         //           else
         //           {
         //               if (File.Exists(@".\wwwroot\img\blog\background.jpeg"))
         //               {
         //                   File.Delete(@".\wwwroot\img\blog\background.jpeg");
         //               }

         //               if (File.Exists(@".\wwwroot\img\blog\background_m.jpeg"))
         //               {
         //                   File.Delete(@".\wwwroot\img\blog\background_m.jpeg");
         //               }
         //               ms.Position = 0;

         //               Directory.CreateDirectory(Path.GetDirectoryName(@".\wwwroot\img\blog\background.jpeg"));

         //               using (FileStream file = new FileStream(@".\wwwroot\img\blog\background.jpeg", FileMode.Create, System.IO.FileAccess.Write))

         //                   ms.CopyTo(file);

         //               ms.Position = 0;

         //               using (var img = await SixLabors.ImageSharp.Image.LoadAsync(@".\wwwroot\img\blog\background.jpeg"))
         //               {
         //                   var newWidth = (int)decimal.Round(img.Width / 2, 5);
         //                   var newHeight = (int)decimal.Round(img.Height / 2, 5);
         //                   img.Mutate(x => x.Resize(newWidth, newHeight));

         //                   img.Save(@".\wwwroot\img\blog\background_m.jpeg");

         //                   await jSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Background inserido com sucesso.", tipo = "ok" });

         //               }
         //           }
         //       }
         //   }
         //   urlBanner = @"";
         //   StateHasChanged();
         //   urlBanner = @"\img\blog\" + model.Id + "\\banner.jpeg";
         //   StateHasChanged();

    }

    public async void GetHTML()
    {
        QuillHTMLContent = await this.QuillHtml.GetHTML();
        StateHasChanged();
    }

    public async void SetHTML()
    {
        string QuillContent =
            @"<a href='http://BlazorHelpWebsite.com/'>" +
            "<img src='images/BlazorHelpWebsite.gif' /></a>";

        await this.QuillHtml.LoadHTMLContent(QuillContent);
        StateHasChanged();
    }

    public async void GetContent()
    {
        QuillContent = await this.QuillNative.GetContent();
        StateHasChanged();
    }
    public async void LoadContent()
    {
        await this.QuillNative.LoadContent(QuillContent);
        StateHasChanged();
    }

    public async void InsertImage()
    {
        await this.QuillNative.InsertImage("images/BlazorHelpWebsite.gif");
        StateHasChanged();
    }

    public async void InsertText()
    {
        await this.QuillNative.InsertText("Some Text");
        StateHasChanged();
    }

    async Task ToggleQuillEditor()
    {
        mode = (mode) ? false : true;
        await this.QuillReadOnly.EnableEditor(mode);
    }
}