﻿  <NavLink href="@link">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Primary">@firstLetter</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">@titleLinsk</MudText>
                </CardHeaderContent>
            </MudCardHeader>
        </MudCard>
         </NavLink>

@code {
    /// <summary>
    /// Link to be redirecting the card 
    /// </summary>
    [Parameter] public string? link { get; set; }
    /// <summary>
    /// First letter of title
    /// </summary>
    [Parameter] public string? firstLetter { get; set; }
    /// <summary>
    /// Card link title
    /// </summary>
    [Parameter] public string? titleLinsk { get; set; }


}
