﻿@page "/"
@using Abrainc.Repositorio.Posts
@inject IPostRepository Ipost
@using Abrainc.Dominio.Model.Evento
@using Abrainc.Dominio.Model.Posts


<PageTitle>Index</PageTitle>

<h1>@res</h1>

<button class="btn btn-success" @onclick=CriaEmp> Salvar</button>

@code{


    //Evento Evento = new Evento();
    Post post = new();
    string res = "";

    async Task CriaEmp()
    {
        try
        {


            post.Nome = "Artigo criado";
            post.NomeCategoria = "Artigo";
            post.SeoGoogleId = 1;
            post.CategoriaId = 1;
            post.SeoRedesSociaisId = 1;
            post.DataCriacao = DateTime.Now;
            post.DataModificacao = DateTime.Now;
            //post.SeoRedesSociais.Description = "teste meta";

            int Resulta= await Ipost.Add(post);
            res = Resulta.ToString();
             var postSelecionado = Ipost.BuscaPostPorId(Resulta);
             res =$"nome: {postSelecionado.Nome} / seoId= {postSelecionado.SeoGoogleId}";
            StateHasChanged();
        }
        catch(Exception err)
        {
            res = err.Message;         
        }

        //res = "Emprendimento Id: " + Ipost.Add(post);
    }

    protected override void OnInitialized()
    {
        //var postSelecionado = Ipost.BuscaPostPorId(8);
        //res =$"nome: {postSelecionado.Nome} / seoId= {postSelecionado.SeoGoogleId}";
        base.OnInitialized();
    }
}
