﻿@page "/teste"
@using Radzen

    <RadzenHtmlEditor @bind-Value=@value style="height: 500px; margin-bottom: 1rem;" UploadUrl="upload/image"
     Change=@OnChange Execute=@OnExecute/>

     <p>@html_</p>

@code
{
    string value = "teste;";
    string html_="";
    void OnChange(string html)
    {
        //html_ = html;
        //StateHasChanged();
    }

    void OnExecute(HtmlEditorExecuteEventArgs args)
    {
    }
}